body {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: rgba(200, 62, 255, 0.63); */
}

.app-content {
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 5vh;
    min-width: 300px;
}

/*==================================================
 * Effect 2
 * ===============================================*/
 .box-shadow-effect
 {
   position: relative;
 }
 .box-shadow-effect:before, .box-shadow-effect:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 15px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: rgba(0,0,0,0.35);
   -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.35);
   -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.35);
   box-shadow: 0 15px 10px rgba(0,0,0,0.35);
   -webkit-transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -o-transform: rotate(-3deg);
   -ms-transform: rotate(-3deg);
   transform: rotate(-3deg);
 }
 .box-shadow-effect:after
 {
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -o-transform: rotate(3deg);
   -ms-transform: rotate(3deg);
   transform: rotate(3deg);
   right: 10px;
   left: auto;
 }

h1 {
    color: rgb(41, 41, 41);
    font-family: 'Shrikhand', cursive;
}

h6 {
    text-transform: uppercase;
    margin-left: 15px;
}

#info-header {
    vertical-align: center;
}

#giphy-logo {
    width: 75px;
}

.row {
    margin: 25px 0;
}

.all-btns-col {
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.5);
}

#add-form {
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    min-height: 175px;
}

#add-input {
    width: 80%;
}

#addTopic {
    margin: 15px 5px 5px 0;
}

#clear-btn-row {
    margin: 5px 5px 5px 0;
}

.giphy-search-btn {
    margin: 5px 10px;
}

.giphy-viewer-container {
    border: 2px solid #ffc107;
    min-height: 175px;
    margin-bottom: 10px;
    text-align: center;
}

.giphy-div {
    display: inline-block;
    padding: 10px;
}