body {
    background-color: rgba(200, 62, 255, 0.63);
}

.app-content {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 5vh;
    border-radius: 5px;
}

h1 {
    color: rgb(41, 41, 41);
}
.row {
    margin: 25px 0;
}

.sports-btns-col {
    padding: 10px;
}

#sports-form {
    margin: 10px;
}

#addSport {
    margin: 5px 5px 5px 0;
}

.giphy-search-btn {
    margin: 5px 10px;
}

.giphy-viewer {
    display: inline-block;
}

.giph-div {
    display: inline-block;
    padding: 10px;
}